<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Manager</title>
  </head>
  <body>
    <h1>Expense #<%=expense.id%></h1>

    <p>Amount: <%=expense.info%>$</p>

    <form action="/update/<%=expense.id%>" method="POST">
      <label for="amount">Amount:</label>
      <input type="number" id="amount" name="amount" required />
      <button type="submit">Update Expense</button>
    </form>
  </body>
</html>
